.talkHeader{
background-color: white;
  
  width: 95%;
  margin: 0 auto;
  margin-top: 0;
  text-align: left;
}


.form{
background-color: white;
  
  width: 95%;
  margin: 0 auto;
  margin-top: 0;
  text-align: center;
}


.Email{
	width: 250px;
}

.contactName{
	width: 250px;
}
