	/*Start of Main Content*/
    /*Tittle*/

    /*Pictures*/
  /*
.row{
background-color: white;
  
  width: 95%;
}
*/


/*
.feat img{
  width: 100%;
}
*/

.featPicture{
background-color: white;
  
  width: 95%;
  margin: 0 auto;
  margin-top: 0;
  text-align: center;
}

.overlay{
  margin-top: 0px;
    text-align: center;
    color: white;
    padding-top: 30px;
}

                  /*End of Main Content*/