									/*Main content 1*/
.feat{
background-color: white;


  width: 95%;
  /*height: 125px;*/

  text-align: left;


  margin: 0 auto;
}

.row{
background-color: white;
  
  width: 95%;
}

#featWork{
  margin-top: 0;
}

.feat img{
  width: 100%;
}
									/*Main Content 2*/

.feat2{
background-color: white;


  width: 95%;
  /*height: 125px;*/

  text-align: left;


  margin: 0 auto;
}

.row{
background-color: white;
  
  width: 95%;
}

#featWork2{
  margin-top: 0;
}

.feat2 img{
  width: 100%;
}